@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);

  /* Custom Colors */
  --color-navy: #1B5E8F;
  --color-teal: #4ECDC4;
  --color-gold: #F4A261;
  --color-light-gray: #F7F9FB;
  --color-dark-blue-gray: #2C3E50;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Helvetica, sans-serif;
}